# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Ghenadie\Desktop\018.Разработка интернет-магазина на Spring Framework\Урок 2. Полезные блоки\basic-internet-store\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
